*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.solid{
    background-color: aqua;
    width: 250px;
    height: 250px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin:10px;
    padding:20px
}
.dashed{
    border:5px dashed;
    height: 100px;
    width:100px; 
    border-radius:50%;
}
.double{
    width: 250px;
    height: 250px;
    border:10px double;
    margin:10px;
    border-radius:50px;
}
.groove{
     width: 250px;
    height: 250px;
    border:50px groove;
    margin:10px;
    border-radius:5px;
}
body{
    display: flex;
    
    justify-content: center;
    text-align: center;
}
.solid:hover{
    border-color: blue;
    transition: 0.5s;
}
.dashed:hover{
    border-color:purple;
       transition: 0.75s;
}
.double:hover{
       border-color: pink;
    transition: 1s;
}
.groove:hover{
        border-color: yellowgreen;
    transition: 0.5s;
}
