body {
    font-family: Arial;
    text-align: center;
    padding-top: 40px;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.tooltip {
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

.tip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 5px 10px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.tooltip:hover .tip {
    opacity: 1;
}
